body{
    display: flex;
    justify-content: center;
    background-size: cover;
	background-image: url(images/Dessert_light.jpg);
    overflow: auto;
}

label{
    font-size: xx-large;
}

.formulaire{
	height: 50vh;
    width: fit-content;
    margin: 1em;
    padding: 2em 0 0 2.5em;
    border: solid #ffffff .2em;
    border-radius: 1em;
    font: larger sans-serif;
    background-color: #ddd6d66c;
    color: whitesmoke;
	box-shadow: 1em 1em 2em .5em #2b2a2a88;
}

.inp{
    width: fit-content;
	margin: 0 0 2em 2em;
}

.text_inp{
    color: #a8aab1;
    background-color: #f5f5f5;
    padding: .06rem;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: x-large;
    border: 0.2rem solid white;
    border-radius: .7rem;
    outline: none;
	width: 20vw;
}

.sign_btns{
    width: fit-content;
    margin: 0 4rem 0 2em;
	padding: 0 4rem 0 3rem;
}

.sign_btn{
    font-family: sans-serif;
    font-size: x-large;
    color: #f6fbfc;
    background-color: #91cde5;
    border: .15rem solid #ffffff;
    border-radius:.4rem;
}
